.text-strong {
  font-weight: 900;
}

.button {
  background-color: #E6E6E6;
  border: 1px solid #999;
  border-radius: 2px;
  color: #444;
  font-size: 100%;
  padding: .5em 1em;
  text-decoration: none;
}
